/**
*  Mise en page général avec display:grid
*/

.site__header {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
  }
  
  .site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
  .site__footer {
    grid-area: footer;
  }
  .site__aside {
    grid-area: aside;
    background-color: rgba(0, 162, 255, 0.1);
/*     background-color: hsl(var(--hFonce), var(--sFonce), 30%); */
    margin: 6rem clamp(1rem, 3vw, 20rem);
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    border: 2px solid hsl(var(--hFonce), var(--sFonce), 20%);
    box-shadow: 0.2rem 0.2rem 0.5rem hsl(var(--hFonce), var(--sFonce), 20%);
  }

  .site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    // row-gap: 50px;

    @media screen and (min-width: 1000px) {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "aside main"
        /*le point est un espace vide*/
       /*  ". main"  */
        "footer footer";
    }
  }