/**
*  Mise en page général avec display:grid
*/

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
  "header"
  "aside"
  "main"
  "footer";

  main {
    grid-area: main;
    min-height: 40vmax;
    z-index: 1;
  }

  @media screen and (min-width: $largeur__bureau) {
    padding-top: 4rem;
    width: 94vw; //la largeur du header (dans _site_entete.scss  .site__header__barre)
    left: 0;
    grid-template-columns: 20% auto;
    grid-template-areas:
  //    "header header"
      "aside main"
      /*le point est un espace vide*/
      ". main"
      "footer footer";
  }
}

.site__header {
  grid-area: header; /* Position fixe dans _site_entete.scss */
}

.site__main {
 
  // grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */

  @media screen and (min-width: $largeur__bureau) {
    max-width: 90%;
    margin: 0 auto;
  }
}

.site__footer {
  grid-area: footer;
}

.site__aside {
  background-color: var(--noir);
  grid-area: aside;
  box-shadow: 0.1rem 0.1rem 0.4rem hsl(var(--hFonce), var(--sFonce), 10%);
  padding: 0;
  margin-top: 5vh; //la hauteur du header + 1vh (dans _site_entete.scss  .site__header__barre)
  margin-bottom: 2.4rem;
  width: 100%;

  @media screen and (min-width: $largeur__bureau) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 220px;
    max-width: 260px;
    min-height: 120px;
    margin-top: 10rem;
    margin-left: 1.5rem;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
  }

  & > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
   
    @media screen and (min-width: $largeur__bureau) {
      flex-direction: column;
      text-indent: -60px;
      margin-left: 50px;
    }

    li {
      flex: 1 1 0%;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
      transition: transform 400ms ease-in-out;
      padding-bottom: 0.6rem;
      margin: 0 1rem 0 0;
      white-space: normal; 
      @media screen and (min-width: $largeur__bureau) {
        padding: 1rem 1rem 0 0.4rem;        
      }

      a,
      p {
   
        font-size: clamp(0.6rem, 0.4rem + 1.2vw, 1rem);
        line-height: 100%;
        color: var(--couleur4);
        font-family: var(--police-mono);
        text-shadow: var(--accent-ombre2);
        transition: text-shadow 400ms;
        padding: 0 1rem 0 0;
    
        @media screen and (min-width: $largeur__bureau) {
          margin: 0 0.3rem;
        }
      }

      a:hover,
      a:active,
      p:hover,
      p:active {
        text-shadow: none;
        color: var(--texte-clair);
      }

      a .menu:hover,
      a .menu:active,
      p .menu:hover,
      p .menu:active {
        transform: scale(1.1);
      }

      @media screen and (min-width: $largeur__bureau) {
        line-height: 140%;
      }
    }
  }
}


main.no-aside {
  margin-top: 6.5vh; //la hauteur du header (dans _site_entete.scss  .site__header__barre)
}

.no-aside {
  grid-template-areas:
  //  "header"
    "main"
    "footer";

  @media screen and (min-width: $largeur__bureau) {
    grid-template-columns: auto;
    grid-template-areas:
    //  "header"
      "aside"
      "main"
      "footer";
  }
}
