.site__aside .menu-cours-container {
  
  ul {
    @media screen and (min-width: $largeur__bureau) {
      text-indent: -24px;
      margin-left: 24px;
      }
  }

  li {
    @media screen and (min-width: $largeur__tablette) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-top: 0.6rem;

    }
  }

  a,
  p {
    display: inline;
    padding: 0;
  }
  
  .sigle-telephone {
    display: block;
    padding: 0 1rem;
    @media screen and (min-width: $largeur__bureau) {
      display: none;
    }
  }

  .sigle-bureau {
    display: none;
    @media screen and (min-width: $largeur__bureau) {
      display: inline;
    }
  }

  .cours-titres {
    display: none;
    padding-left: 0.3rem;
    @media screen and (min-width: $largeur__bureau) {
      display: inline;
      padding-left: 0;
    }
  }

 
}