/* .blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
        flex: 1 0 200px;
        border : 1px solid #aaa;
        padding : 10px;
    }
} */

.blocflex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // Cette déclaration sera meilleur quand min() sera mieux supporté
  // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 1rem;
}

.bloc__article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  background-color: var(--blanc);
  padding: 1.8rem;
  margin: 1rem 0.8rem 0.2rem 0;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  border: 2px solid var(--couleur2);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--couleur2);

  h3,
  h5,
  h6 {
    text-shadow: var(--titre-ombre);
    margin: 0;
  }

  h4 {
    margin: 0.4rem 0;
    color: var(--fonce);
  }

  p {
    text-shadow: var(--texte-ombre);
    margin: 0.8rem 0;
  }

  span {
    color: var(--fonce-1);
    position: relative;
    font-size: 1.2em;
    left: 0.6em;
    white-space: nowrap;
  }

  @media screen and (min-width: $largeur__bureau) {
    margin: 1rem;
  }
}

.blocflex__galerie {
  margin: 1rem 1.6rem 1.4rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img {
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(18, 18, 18, 0.8);
    transition: all 800ms;
  }
  img:hover,
  img:active {
    transform: scale(1.2);
    z-index: 100;
  }

  @media screen and (min-width: $largeur__bureau) {
    background-color: var(--blanc);
    padding: 0rem 1.4rem 1rem 1.4rem;
   /*  margin: 2rem 0 4rem 0; */
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    border: 2px solid var(--couleur2);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--couleur2);

    img {
      padding: 0.6rem;
    /*   background-color: var(--blanc); */
    }

  }

  @media screen and (min-width:$largeur__bureau_large) {

    figure {
      padding: 1%;
    }
  /*    img {
      padding: 2rem;
    } */
  }

}
