/* .blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
        flex: 1 0 200px;
        border : 1px solid #aaa;
        padding : 10px;
    }
} */

.blocflex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // Cette déclaration sera meilleur quand min() sera mieux supporté
  // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 1rem;
  min-height: 100vh;
}

.blocflex_evenement {
 background-color: hsla(235, 221, 20%, 0.2);
   display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.bloc__article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: var(--blanc);
  margin: 0 0.2rem;
  padding: 1.8rem;
  transform: translateX(-0.4rem);
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  border: 2px solid var(--couleur2);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--couleur2);

  h3,
  h5,
  h6 {
    text-shadow: var(--titre-ombre);
    margin: 1rem 0 0.6rem 0;
  }

  h4 {
    margin: 0.4rem 0;
    color: var(--fonce);
  }

  p {
    text-shadow: var(--texte-ombre);
    margin: 0;
  }

  span {
    color: var(--fonce-1);
    position: relative;
    font-size: 1.2em;
    left: 0.6em;
    white-space: nowrap;
  }

  @media screen and (min-width: $largeur__bureau) {
    margin: 1rem;
  }
}

.blocflex__galerie {
  margin: 1rem 1.6rem 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;

  & p {
    color: var(--texte-clair);
    //  text-shadow: var(--texte-ombre);
  }

  h3,
  a {
    margin: 0 auto;
    margin-bottom: 0.8rem;
    font-size: clamp(1.1rem, 2.6vw, 1.6rem);
    text-align: center;
  }

  & img {
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(18, 18, 18, 0.8);
    cursor: pointer;
  }

  @media screen and (min-width: $largeur__tablette) {
    background-color: var(--blanc);
    padding: 2rem 1rem;
    margin-top: 0.5rem;
  
    h3,
    a {
      margin-top: 1.4rem;
    }

    img {
      padding: 0.6rem;
    }

    p {
      color: var(--texte-fonce);
      text-shadow: var(--texte-ombre);
    }
  }

  @media screen and (min-width: $largeur__bureau_large) {
    figure {
     // padding: 1%;
    }
  }
}

/*Quand ce n'est pas sur front-page.php */
.blocflex__galerie_categorie {
  @media screen and (min-width: $largeur__bureau) {
    max-height: 700px;
  }
}
