/***********************************Bouton burger ***************/

.burger {
/*   display: flex;
  justify-content: center;
  align-items: center; */
  width: 25px;

  @media screen and (min-width: 800px) {
   display: none;
  }
}