.menu-evenement-container {
  //nav
  padding: 0 1rem;

  .menu {
    //ul
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .menu-item {
      padding: 2rem 0;
      flex: 1 0 0%;

      a {
        @media screen and (min-width: $largeur__tablette) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .title {
          font-size: clamp(1.6rem, 0.6rem + 1.16vw, 1.6rem);
          margin-bottom: 0.8rem;
          text-align: center;
          color: var(--fonce);
          text-transform: uppercase;
          line-height: 120%;
        }
        .description {
          font-size: clamp(1rem, 0.6rem + 1.16vw, 1.2rem);
          padding: 0.2rem;
          height: 150px;
          color: var(--noire);

          @media screen and (min-width: $largeur__tablette) {
            padding: 1rem;
          }
        }
        .menu-thumbnail {
          border-radius: 0%;
          box-shadow: none;
        }
        span {
          display: block;
          font-size: 0.9rem;
          color: var(--texte-clair);
        }
      }
    }
  }
}
