
.menu-bloc-archive-container {
 // border: 2px solid  var(--couleur2);

  //ul
  & ul {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       align-items: center;
  }

  
  & li {
    margin: 1rem auto;
    border: 1px solid var(--couleur2);
    flex: 1 1 0%;
    padding: 1rem;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $largeur__tablette) {
    padding: 2rem;
    margin: 2rem;
    width: 200px;
    height: 300px;
    }
    
    & a{
      background-repeat: no-repeat;
      position: relative;
      font-size: clamp(0.9rem, 2vw, 1.4rem);

    }
    
  }

}


.bloc__cours a::before {
background-image: url("https://s2.svgbox.net/materialui.svg?ic=account_balance");
position: absolute;
content: "";
top: -1.6rem;
left: 0;
height: 1rem;
width: 1rem;
transform: scale(1.4);
}

.bloc__4w4 a::before {
  background-image: url("https://s2.svgbox.net/materialui.svg?ic=animation");
  position: absolute;
  content: "";
  top: -1.6rem;
left: 0;
height: 1rem;
width: 1rem;
transform: scale(1.4);
}

.bloc__galerie a::before {
  background-image: url("https://s2.svgbox.net/materialui.svg?ic=add_a_photo");
  background-repeat: no-repeat;
  position: absolute;
content: "";
top: -1.6rem;
left: 0;
height: 1rem;
width: 1rem;
transform: scale(1.4);
}

