.menu-evenement-container {
  //nav

  .menu {
    //ul
    display: flex;
    list-style-type: none;

    .menu-item {
      //li
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #aaa;
    }
  }
}
