.site__footer {
  width: 100%;
  height: 100%;
  margin-top: 2.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--couleur2);
  padding-bottom: 1vh;
  text-align: center;

  & >* {
  padding: 0 6%;
  @media screen and (min-width: $largeur__bureau) {
    padding: 0;
  }
  }

  @media screen and (min-width: $largeur__bureau) {
    flex-direction: column;
  }

  & h1, h2, h3, h4, h5, h6, p, li, ul, a, blockquote {
    margin: 0;
    padding: 0;
  }

  a, p, li, .sidebar {
    font-size: clamp(1rem, 0.6rem + 1vw, 1rem);
  }

  .footer_ligne1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100%;
     

    @media screen and (min-width: $largeur__bureau) {
      align-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding-top: 1rem;
    }
    
    a {
      color: var(--texte-clair);
    }

    a:hover,
    a:active,
    p:hover,
    p:active {
      color: hsl(var(--hFonce), var(--sFonce), 30%);
    }
  
    section {
      width: 100%;
      flex: 1 1 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
       gap: 1rem;
       padding: 1rem;

   @media screen and (min-width: $largeur__bureau) {
        align-items: center;
        margin-top: 2rem;
      }
                
      img.custom-logo {
        box-shadow: initial;
        width: 70%;
        height: auto;

        @media screen and (min-width: $largeur__bureau) {
          width: 90%;
        }
      }
    }

    section:first-of-type {
     flex: 0 1 100%;
      padding-bottom: 2rem;
      @media screen and (min-width: $largeur__bureau) {
        flex: 1 1 33%;
        padding-bottom: 0;
        margin: 0;
      }
    }

    section:last-of-type {
      padding-top: 5rem;
      border-right: none;

      & ul {
        padding-right: 1rem;
      }
      @media screen and (min-width: $largeur__bureau) {
        padding-top: 0;
        margin-top: 0;
      }
    }
  
  }

  .footer-ligne2 {
    max-width: 100%;
    height: 12vh;
    font-family: var(--police-sans);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   margin: 1rem 0;
   padding: 2rem;

    & a {
      color: hsl(var(--hFonce), var(--sFonce), 30%);
    }

    @media screen and (min-width: $largeur__bureau) {
      justify-content: center;
    }
  }
}
