.sidebar_h2 {
  padding: 2rem;
}
.sidebar-galerie {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 2rem;
}

.sidebar_articles {
  padding: 1rem;

  & li {
    border-top: 1px solid var(--fonce-1);
    padding: 1rem;

    @media screen and (min-width: 600px) {
      border-top: 0;
      border-right: 1px solid var(--fonce-1);
      border-bottom: 1px solid var(--fonce-1);
    }
    & a {
      text-align: center;
    }
    & div {
      padding-bottom: 0.6rem;
    }
  }
}
