/************************** Ent^te de la page ************/
.site__header {
 background-color: var(--noir);
  display: flex;
  height: 6.8vh;
  position: fixed;
  width: 100%;

    .site__header__barre {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    img.custom-logo {
      border-top-left-radius: initial;
      box-shadow: initial;
      object-fit: contain;
      padding-left: 1rem;
      width: 30%;
    }
    
.burger {
  margin-top: 1.4rem;
  padding-right: 4%;
}

    .burger>span {
      transition: all 500ms;
    }
    
    /* Icone menu burger */
    .material-symbols-outlined {
      color: var(--blanc);
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      transform: scale(1.2, 1.64);

    }
  }

/********************** Menu visible lorsque la case à cocher est coché**********/
.site__menu {
  background-color: yellow;
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  transform: translateX(120%);
  transition: transform 500ms;
  width: 100vw;

  .site__header__recherche {

  }
  
    .site__header__titre {
      align-self: center;
      flex: 1 1 30%;
      //opacity: 0;

      h1,
      a {
        font-size: clamp(0.5625rem, 0.5rem + 1.8vw, 2.1875rem);
      }
      h2 {
        font-size: clamp(0.7rem, -0.1875rem + 1.6vw, 1.2rem);
        color: var(--couleur2);
        margin-top: -1em;
        font-family: var(--police-sans);
      }

    }



  /*-----------------------------------------------------------------menu-entête */
  /* ********************** Balise nav *******************/
  ul#menu-entete.menu {
    margin: 0;
    padding: 0;
    position: fixed;  
    right: 4vw;
  }

  ul#menu-entete.menu {
 
  }


  .menu {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

    @media screen and (min-width: $largeur__tablette) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      flex-wrap: nowrap;
      transform: translateX(0);
      gap: 1rem clamp(1rem, 3vw, 20rem);
      padding-top: 2rem;
    }

    .menu-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style-type: none;
      transition: transform 400ms ease-in;
      margin-top: 1rem;

      a {
        font-size: clamp(0.8rem, 0.125rem + 2vw, 1.3rem);
        line-height: 120%;
        align-self: flex-end;
        text-align: center;
        color: var(--fonce-2);
        font-family: var(--police-mono);
        text-transform: uppercase;
        letter-spacing: -0.02rem;
        word-spacing: -0.1rem;
        text-shadow: var(--accent-ombre);
        transition: text-shadow 400ms;
        /* padding: 0 0.5rem 0 0; */
      }

      a:hover {
        text-shadow: none;
        color: var(--texte-clair);
        transition: color 600ms;
      }

      a:active {
        text-shadow: none;
        color: var(--couleur3);
      }
    }
    .menu-item:hover,
    .menu-item:active {
      transform: scale(1.1);
    }
  }
}
}

   
/*************************************************** Case à cocher */
#chkMenu {
display: none;
}

#chkMenu:checked~.site__header__barre .burger~.site__menu {
  transform: translateX(0);
}

 

#chkMenu:checked+label>span {
  transform: /* translateX(-120px) */ scale(1.6, 1.2) rotate(90deg);
  color: var(--couleur3);
}


#chkMenu:checked+label>.site__header__titre {
  opacity: 1;
}
