.site__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--fond);
  padding: 0.4rem 4rem 2rem 2rem;
  margin-top: 0.4rem;
.site__header__logo {
  img {
    border-top-left-radius: initial;
    box-shadow: initial;
    width: 90%;

    @media screen and (min-width: 992px) {
      width: 100%;
    }
  }
}

  .site__header__titre {
    align-self: center;
    flex: 1 1 30%;
  }

  .site__header__titre h1,
  a {
    font-size: clamp(0.5625rem, 0.5rem + 1.8vw, 2.1875rem);
  }

  .site__header__titre {
    h2 {
      font-size: clamp(0.7rem, -0.1875rem + 1.6vw, 1.2rem);
      color: var(--couleur2);
      margin-top: -1em;
      padding: 0;
      font-family: var(--police-sans);
    }
  }

  .site__header_nav_recherche {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.6rem;

    .site__header__recherche {
      align-self: flex-end;
    }
  }

  /*-----------------------------------------------------------------menu-entête */
  /* ********************** Balise nav *******************/
  ul#menu-entete.menu,
  li#menu-entete.menu {
    margin: 0;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
 
    .menu-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style-type: none;
      transition: transform 400ms ease-in-out;
      margin-top: 0.6rem;

      a {
        font-size: clamp(0.8rem, 0.125rem + 2vw, 1.3rem);
        line-height: 120%;
        align-self: flex-end;
        text-align: center;
        color: var(--fonce-2);
        font-family: var(--police-mono);
        text-transform: uppercase;
        letter-spacing: -0.02rem;
        word-spacing: -0.1rem;
        text-shadow: var(--accent-ombre);
        transition: text-shadow 400ms;
        padding: 0 0.5rem 0 0;
      }

      a:hover,
      a:active {
        text-shadow: none;
        color: var(--texte-clair);
       /*  color: var(--fonce-2); */
      }

   
    }
    .menu-item:hover,
    .menu-item:active {
      transform: scale(1.1);
    }
    @media screen and (min-width: 992px) {
  
      flex-direction: row;
      padding-left: 1.6rem;
      padding-bottom: 0rem;
    }
  }
  }


