/************************** Ent^te de la page ************/
.site__header {
  display: flex;
  justify-content: space-between;
  background-color: var(--fond);
  padding: 1rem 1rem 2rem 0.4rem;

  @media screen and (min-width: $largeur__bureau) {
    padding: 0.8rem;
    margin-bottom: 2rem;
  }

  .site__header__logo {
    img {
      border-top-left-radius: initial;
      box-shadow: initial;
      width: 90%;

      @media screen and (min-width: $largeur__bureau) {
        width: 100%;
      }
    }
    .site__header__titre {
      align-self: center;
      flex: 1 1 30%;
    }
    h1,
    a {
      font-size: clamp(0.5625rem, 0.5rem + 1.8vw, 2.1875rem);
    }
    .site__header__titre {
      h2 {
        font-size: clamp(0.7rem, -0.1875rem + 1.6vw, 1.2rem);
        color: var(--couleur2);
        margin-top: -1em;
        padding: 0;
        font-family: var(--police-sans);
      }
    }
  }
  .site__header_nav_recherche {

    /* Icone menu burger */
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      transform: scaleY(1.4);
      color: var(--fonce-2);
    }
    
  }

  /*-----------------------------------------------------------------menu-entête */
  /* ********************** Balise nav *******************/
  ul#menu-entete.menu,
  li#menu-entete.menu {
    margin: 0;
  }

  .menu-entete-container {
    transform: translateX(300px);
    transition: transform 500ms;

    @media screen and (min-width: $largeur__tablette) {
      transform: translateX(0);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

    @media screen and (min-width: $largeur__tablette) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      /*   flex-wrap: nowrap; */
      transform: translateX(0);
      gap: 1rem clamp(1rem, 3vw, 20rem);
    }

    .menu-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      list-style-type: none;
      transition: transform 400ms ease-in;
      margin-top: 0.6rem;

      a {
        font-size: clamp(0.8rem, 0.125rem + 2vw, 1.3rem);
        line-height: 120%;
        align-self: flex-end;
        text-align: center;
        color: var(--fonce-2);
        font-family: var(--police-mono);
        text-transform: uppercase;
        letter-spacing: -0.02rem;
        word-spacing: -0.1rem;
        text-shadow: var(--accent-ombre);
        transition: text-shadow 400ms;
        /* padding: 0 0.5rem 0 0; */
      }

      a:hover {
        text-shadow: none;
        color: var(--texte-clair);
        transition: color 600ms;
      }

      a:active {
        text-shadow: none;
        color: var(--couleur3);
      }
    }
    .menu-item:hover,
    .menu-item:active {
      transform: scale(1.1);
    }
  }
}

#chkMenu {
  display: none;
}

#chkMenu:checked ~ .menu-entete-container
/*   #chkMenu:checked~#menu-entete  */ {
  transform: translateX(0);
}
