/*
.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
        flex: 1 0 200px;
        border : 1px solid #aaa;
        padding : 10px;
    }
}
*/

.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;
  
    article {
      border: 1px solid #aaa;
      padding: 1rem;
    }
  }



