
/* .front_article {
  background-color: hsl(var(--hFonce-1), var(--sFonce-1), 92%);
  padding: 2rem;
  flex : 1 1 25rem;
  -webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topleft: 10px;	
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
  border: 1px solid var(--couleur2);
  box-shadow: 0.1rem 0.1rem 0.3rem var(--couleur2);
    p {
      color: var(--fonce);
    }
}
 */
/* .blocflex {
  display : flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  } */

/*   .blocflex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // Cette déclaration sera meilleur quand min() sera mieux supporté
  // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 2rem;

  article {
    border: 1px solid #aaa;
    padding: 1rem;
  }
} */