
.front__article {
  position: relative;
  background-color:  var(--blanc);
  padding: 2rem;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  border: 1px solid var(--couleur2);
/*   box-shadow: var(--fonce-2) 0.02em 0.02em 0.2em; */

  h3  {
    text-shadow: var(--titre-ombre);
  }

  span {
    color: var(--fonce-1);
    position: relative;
    font-size: 1.2em;
    left: 1.2em;
    white-space: nowrap;
  }

  span::before {
    position: absolute;
    content: "...";
    left: -1em;
  }
}
