.recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted hsl(var(--hFonce), var(--sFonce), 28%);
  
  .recherche__input {
    background-color: hsl(var(--hFonce), var(--sFonce), 20%);
    border: none;
    color: var( --texte-clair);
  }

   .recherche__input:focus {
    outline: none;
  }

  .recherche__input::placeholder {
    color: var(--fonce-2);
  }

  .recherche__bouton {
    border: none;
    /* Google material symbol search */
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      color: var(--couleur2);
      cursor: pointer;
      transform: translateY(0.1em);
    }

    padding: 0;
    background-color: hsl(var(--hFonce), var(--sFonce), 20%);
    padding-left: 0.4em;
  }

}
