.site__single {
  background-color:  var(--blanc);
  padding: 2rem;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  border: 1px solid var(--couleur2);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--couleur2);

& h2 {
  /* color: pink; */
}

}