.single_titre {
  color: var(--texte-fonce);
/*   color:hsl(204deg, 59%, 60%); */
  text-align: center;
  padding-bottom: 1.4rem;
}

.section_fiche {
  background-color:  var(--blanc);
  padding: 1.4rem 4rem 2.8rem 4rem;
  margin: 0 auto;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  border: 2px solid var(--couleur2);
  box-shadow: 0.2rem 0.2rem 0.5rem var(--couleur2);
  max-width: 1200px;

    
  .section_fiche_contenu {
    /* padding: 2rem; */
    max-width: 960px;
    margin: 0 auto;
    
    p,
    ul,
    li {
      line-height: 180%;
    }

    h2 {
      color: var(--couleur1);
    }
  }
}