/*
CSS Clam font-size generator : https://clamp.font-size.app/
*/

h1 {
  font-size: clamp(1.3rem, -0.0385rem + 3vw, 2rem);
}
h2 {
  font-size: clamp(1.2rem, -0.3125rem + 2.8vw, 2.2rem);
 // color: var(--texte-clair);
}

h3 {
  font-size: clamp(1.1rem, 2.6vw, 1.6rem);
}

h4 {
  font-size: clamp(1rem, -0.1875rem + 2.2vw, 1.5rem);
}
h5 {
  font-size: clamp(0.8rem, -0.0313rem + 1.7vw, 1.5625rem);
}

h5.modele_php {
  color:var(--fonce-1);
  padding: 0.2rem;
  margin: 0.2rem;
}

h6 {
  font-size: clamp(0.7rem, 0.125rem + 1.2vw, 1.25rem);
}

p,
ul,
li
 {
  font-size: clamp(0.8rem, 0.6rem + 1.16vw, 1rem);
  font-family: var(--police-sans);
  color: var(--noir);
  line-height: 150%;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
  font-family: var(--police-serif);
}

ul,
ol, 
li {
  list-style-type: none;

}

ul {
padding-right: 0.8rem;
padding-bottom: 1rem;
padding-inline-start: 1rem;
}


 
li>p {
  display: inline;
}

li>code {
  background-color: var(--fonce-2);
  border-radius: 2px;
  padding: 0.14rem;
}

code, 
pre,
li>code {
  font-family: var(--police-mono);
  font-size: clamp(0.84rem, 0.14rem + 1vw, 0.9rem);
  white-space: pre-wrap;
}

pre {
  background-color: var(--fonce-2);
  max-width: 260px;
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem ;
  margin: 0 auto;
  margin-bottom: 3rem;
  -webkit-border-top-left-radius: 10px;
  -khtml-border-radius-topleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;

  @media screen and (min-width:$largeur__tablette) {
    max-width: 500px;
    max-height: 320px;
  }

  @media screen and (min-width:$largeur__bureau) {
    max-width: 600px;
    max-height: 320px;
  }

  @media screen and (min-width:$largeur__bureau_large) {
    max-width: 800px;
    max-height: 320px;
  }
}

blockquote>p {
  font-family: var(--police-serif);
}

input {
  font-size: clamp(0.8rem, 0.125rem + 1.2vw, 1.1rem);
}

strong,
b,
em,
i {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.4rem;
-webkit-border-top-left-radius: 10px;
-khtml-border-radius-topleft: 10px;
-moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0.1rem 0.1rem 0.3rem hsl(var(--hFonce), var(--sFonce), 10%);
}

figcaption {
  font-size: clamp(0.7rem, 0.125rem + 1.2vw, 1.1rem); 
  font-family: var(--police-serif);
  transform: translateY(-0.2rem);
  margin: 0 2rem;
  line-height: 130%;
}

hr {
  border-top: 2px dotted var(--fonce);
  margin-top: 1rem;
  margin-bottom: 3.6rem;
}