/* Les balises qu'on utilise dans la conversion des fichiers markdown */

/*   Les listes */
ul, ol {

}

ul {
  list-style-type: none;
}

ul>li,
ol>li {

}

ul>li {

}

ol>li{

}

ol>li>ol{

}

main li::before {
  content: "::before";
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

/* ---------------------------------------------------- pre */

pre {

}

code {

}

i {

}

strong {
  
}

blockquote {

}

hr {

}

